# Python / env
venv/
env/
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Ignore large raw data but keep small CSVs
data/raw/*
!data/raw/sample_data.csv

# Allow processed datasets (for report)
!data/processed/
data/processed/*.parquet

# Allow all figures (EDA plots)
!figures/
!figures/EDA/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
